html,
body {
	height: 100%;
}

body {
	margin: 0px;
	padding: 0px;
	background: #202020;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 12pt;
	font-weight: 300;
	color: #444444;
}

ol,
ul {
	padding: 0;
	list-style: none;
}

p {
	font-size: 18px;
	line-height: 180%;
}

/* Heading Titles */

.title {
	
}

.title h2 {
	font-size: 2.8em;
}
.titleIndex {
	position: fixed;
	top: 0px;
	width: 80%;
	margin-bottom: 1em;
	background-color: #3498db;
	-moz-box-shadow: 	inset 5px 0 12px 0px rgba(0, 0, 0, 0.6), 0 6px 6px rgba(0,0,0,0.23);
    -webkit-box-shadow: inset 5px 0 12px 0px rgba(0, 0, 0, 0.6), 0 6px 6px rgba(0,0,0,0.23);
    box-shadow: 		inset 15px 0px 12px -10px rgba(0, 0, 0, 0.6), 0 6px 6px rgba(0,0,0,0.23);

}

.titleIndex h2 {
	font-family: 'Verdana', sans-serif;
	font-size: 2.8em;
	color: white;
	text-shadow: 0 1px 0 #ccc,
	0 2px 0 #c9c9c9,
	0 3px 0 #bbb,
	0 4px 0 #b9b9b9,
	0 5px 0 #aaa,
	0 6px 1px rgba(0,0,0,.1),
	0 0 5px rgba(0,0,0,.1),
	0 1px 3px rgba(0,0,0,.3),
	0 3px 5px rgba(0,0,0,.2),
	0 5px 10px rgba(0,0,0,.25),
	0 10px 10px rgba(0,0,0,.2),
	0 20px 20px rgba(0,0,0,.15);

	
}
.title .byline {
	font-size: 1.3em;
	color: #6F6F6F;
}

#profileimages {
	min-width: 950px;
}

/* Header */

#header {
	position: fixed;
	float: left;
	width: 300px;
    min-width: 240px;
	height: 100%;
	padding: 3em 0em;
}

/* Logo */

#logo {
	text-align: center;
	margin-bottom: 4em;
}

#logo h1 {
	display: block;
    cursor: pointer;
	font-size: 40px;
	color: white;
}

#logo a {
	text-decoration: none;
	color: #FFF;
}

#logo span {
	padding-right: 0.5em;
	text-transform: uppercase;
	font-size: 0.90em;
	color: rgba(255, 255, 255, 0.3);
}

#logo span a {
	color: rgba(255, 255, 255, 0.5);
}

#logo img {
	display: inline-block;
	margin-bottom: 1em;
	border-radius: 50%;
}
#logo h4 {
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    color: white;
    padding-left: 15px;
    padding-right: 15px;
    font-size:15;

}

/* Menu */

#menu {}

#menu ul {}

#menu li {
	border-top: 1px solid rgba(255, 255, 255, 0.08);
}

#menu li a,
#menu li span {
	display: block;
	padding: 4em 4em;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 700;
	color: rgba(255, 255, 255, 0.5);
}

#menu li:hover a,
#menu li.active a,
#menu li.active span {
	color: rgba(255, 255, 255, 1);
}

#menu .current_page_item a {
	background: #005c99;
	color: rgba(255, 255, 255, 1);
}

#menu li:hover {
	background: #4d94ff;

}

#menu .icon {}

/* Banner */

#banner {
	margin-bottom: 4em;
}

/* Page */

#page {
	background: #2a2a2a;
}

/* Main */

#main {
    position: fixed;
    left: 300px;
	width: 80%;
	height: 1300px;
	min-width: 700px;
	background: #FFF;
	border-top: 5px solid #2980b9;
	text-align: center;

    -moz-box-shadow: 	inset 5px -40px 12px 0px rgba(0, 0, 0, 0.6), 0 6px 6px rgba(0,0,0,0.23);
    -webkit-box-shadow: inset 5px -40px 12px 0px rgba(0, 0, 0, 0.6), 0 6px 6px rgba(0,0,0,0.23);
    box-shadow: 		inset 5px -40px 12px 0px rgba(0, 0, 0, 0.6), 0 6px 6px rgba(0,0,0,0.23);
}

#main .about {
	text-indent: 2em;
	margin-top: 2em;
    padding: 170px;
}

#main h3 {
	position: fixed;
	bottom: 10%;
	width: 80%;
	border-top: 1px solid rgba(0, 0, 0, 0.20);
    padding-top: 2em;
    display:block;
}
#main h4 {
	margin-bottom: 2em;
}
#main .passage {
    cursor: default;
    font-family: Helvetica;
    font-size: 30px;
    padding: 35px 4em;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

#main textarea {
	overflow: hidden;
	border: none;
	width: 50%;
	margin-top: 2em;
	border-bottom: 2px solid #0099ff;
	font-family:"Arial", Times, serif;  
	font-size: 25px;   
}
#main textarea:focus {
    outline: none !important;
	border: none;
	border-bottom: 2px solid #0099ff;
}


#main button {

    background-color: #008CBA;
	border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-right: 35px;
    cursor: pointer;
}

/* TestBoxes */
#testboxes {
	
}
#testboxes button {
    position: relative;
    background-color: #0099ff;
    padding: 14px 20px;
    margin: 15px auto;
    border: none;
    cursor: pointer;
    width: 260px;
    height: 110px;
    color: white;
	box-shadow: 6px 9px 9px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


/* Copyright */

#copyright {
    position:fixed;
    bottom:0;
    width:80%;
    display:block;
}

#copyright span {
	display: block;
	letter-spacing: 0.20em;
	line-height: 2.5em;
	text-align: center;
	text-transform: uppercase;
	font-size: 0.80em;
	color: rgba(0, 0, 0, 0.7);
}

#copyright a {
	text-decoration: none;
	color: rgba(0, 0, 0, 0.9);
}
/* Login Menu Button */

input[type=text], input[type=password] {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: none;
    outline: none;
    border-bottom: 1px solid #ccc;
    text-align: center;
}


/* Set a style for all buttons */
#logo button, .cancelbtn, .loginbtn {
    background-color: #0099ff;
    color: white;
    padding: 14px 20px;
    margin: 8px;
    border: none;
    cursor: pointer;
    width: auto;
}


/* Center the image and position the close button */
#logo .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

#logo img.avatar {
    width: 40%;
    border-radius: 50%;
}

#logo .container {
    padding: 16px;
}

#logo span.psw {
    float: right;
    padding-top: 16px;
}

/* The Modal (background) */
.modal, .signup{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    right: 0;
    top: 0;
    text-align: center;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
	background-color: rgba(0,0,0,0.5); /* Black w/ opacity */
	padding-right: 15%;
    padding-top: 5%;
}

/* Modal Content/Box */
.modal-content {
    padding: 30px;
    background-color: #fefefe;
    margin: 5% 8% 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */

}

#loader {
	position: absolute;
	left: 45%;
	top: 30%;
	z-index: 1;
	width: 180px;
	height: 180px;
	margin: -75px 0 0 -75px;
	border: 26px solid #f3f3f3;
	border-radius: 50%;
	border-top: 26px solid #3498db;
	-webkit-animation: spin 2s linear infinite;
	animation: spin 2s linear infinite;
  }
  
  @-webkit-keyframes spin {
	0% { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
  }
  
  /* Add animation to "page content" */
  .animate-bottom {
	position: relative;
	-webkit-animation-name: animatebottom;
	-webkit-animation-duration: 1s;
	animation-name: animatebottom;
	animation-duration: 1s
  }
  
  @-webkit-keyframes animatebottom {
	from { bottom:-750px; opacity:0 } 
	to { bottom:0px; opacity:1 }
  }
  
  @keyframes animatebottom { 
	from{ bottom:-75px; opacity:0 } 
	to{ bottom:0; opacity:1 }
  }
  
  #myDiv {
	display: none;
	text-align: center;
  }
  
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}
.animateD1 {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
    animation-delay: .5s;

}
.animateD2 {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
    animation-delay: 2s;

}
@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}
    
@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
}
